coding-style/java/email-html-post-processor/src/main/resources/com/omendba/email/html/postprocessor/xml/html-style.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="html-styles" type="html-stylesType"/>
  <xs:complexType name="html-stylesType">
    <xs:sequence>
      <xs:element type="xs:string" name="html-style" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>